<div class="row">
  <div class="col-md-12">
    <div class="align-center get-started">
      <img src="/assets/images/house-icon.jpg" class="house-icon">
    </div>
    <div class='row align-center'>
      Hi, what's your name?
    </div>
    <div class='row align-center'>
      {{input type="text" id="form-name" placeholder="What's your name?"}}
    </div>
    <div class="actions">
      {{#link-to 'lets-design' class='btn btn-primary'}}Let's design!{{/link-to}}
    </div>
  </div>
</div>
<ul>
