<div class="row">
  <div class="col-md-12">
    <div class="align-center">
      <img src="/assets/images/title.jpg" class="title-img">
      <img src="/assets/images/house-icon.jpg" class="house-icon">
    </div>
    <div class="actions">
      {{#link-to 'get-started'}}Let's go!{{/link-to}}
    </div>
  </div>
</div>
<ul>
{{#each}}
  <li>{{this}}</li>
{{/each}}
</ul>
